<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Resume</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1>About me</h1>
  </div>
</div>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1>Resume</h1>
  </div>
</div>
<script src="app/assets/javascripts/bootstrap.min.js"></script>

