<header>
  <div class="centerbox">
	  <h2>
	  Hi!  I'm a first year CS student at the University of Toronto.
	  You can take a look at my  
	  <a href="/resume.pdf" class="resume" target="_blank">resume</a>,
	  contact me through  
	  <%= link_to image_tag("gmail.png", alt: "Gmail", :class=>"gmail"), 'mailto:felix.czhu@gmail.com/' %>,
	  connect with me on 
	  <%= link_to image_tag("linkedin.png", alt: "LinkedIn", :class=>"linkedin"), 'http://ca.linkedin.com/pub/felix-zhu/79/7b7/595' , target: "_blank" %>,
	  or check out my 
	  <%= link_to image_tag("github.png", alt: "GitHub", :class=>"github"), 'http://www.github.com/felixzhuologist', target: "_blank" %>. 
	  </h2>
  </div>
</header>

<script>
  $(function() {
    var BV = new $.BigVideo();
    BV.init();
    if (Modernizr.touch) {
    	BV.show("great.jpg");
    } else {
    	BV.show("main-video.mp4",{ambient:true});
    }

    //BV.show("http://vjs.zencdn.net/v/oceans.mp4", {ambient:true});
  });
</script>