<%= stylesheet_link_tag  "more" %>
</head>
<body>   
    <div id="valign-table">
        <div id="valign-cell">
            <div class="container">
                <div class="sixteen columns header">
                    <h1><%=link_to "felix zhu", root_path %><span class="dot">&nbsp;</span></h1>
                    <hr />

                    <div id="openingheader">
                    projects
                    </div>
                    <div id="collections">
                        <a href="http://www.utra.ca/projects/art" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">UTRA Autonomous Rover Team</div>
                                <div class="kind">side project - 30 members</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://farm8.staticflickr.com/7346/10072916916_80466a7706_n.jpg); opacity: .7;">
                            </div>
                        </a>
                        <a href="uniuni.io" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">uniuni.io</div>
                                <div class="kind">side project - 8 members</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://sphotos-c.ak.fbcdn.net/hphotos-ak-prn1/601522_388442671227062_1072443545_n.jpg); opacity: .7;">
                            </div>
                        </a>
                        <a href="uoftreach.com" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">uoftreach.com</div>
                                <div class="kind">side project - 2 members</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://www.twirkethic.com/wp-content/uploads/2008/09/americanexpress.jpg); opacity: .3;">
                            </div>
                        </a>
                        <a href="hathix.com/hacks/summarize" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">hathix.com/hacks/ summarize/</div>
                                <div class="kind">hackMIT - 2 members</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://www.twirkethic.com/wp-content/uploads/2008/09/americanexpress.jpg); opacity: .3;">
                            </div>
                        </a>
                    </div>


                    <div id="openingheader">
                    school
                    </div>
                    <div id="collections">
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Introduction to Computer Science</div>
                                <div class="kind" style="margin-top: -10px;">CSC148</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://whereduaneat.org/duane.gif); opacity: .7;">
                            </div>
                        </a>
                        <div class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Enriched Intro to Theory of Computation</div>
                                <div class="kind">CSC240</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://therapup.net/wp-content/uploads/2013/04/Puff.gif); opacity: .4;">
                            </div>
                        </div>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Software Design</div>
                                <div class="kind">CSC207</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://www.eurweb.com/wp-content/uploads/2013/11/Outkast.jpg); opacity: .4;">
                            </div>
                        </a>
                        <div class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Linear Algebra I & II</div>
                                <div class="kind">MAT223/224</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://24.media.tumblr.com/55ef3a58b194cef0a107e7ebf3e847a1/tumblr_mhuxz1KnXl1qdrgo9o1_1280.jpg); opacity: .7;">
                            </div>
                        </div>
                        <div class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Multivariable Calculus</div>
                                <div class="kind">MAT237</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://25.media.tumblr.com/d456c2040993bbd0b60150c6b94dfbb2/tumblr_murtobnhzN1rhjxypo1_1280.jpg); opacity: .6;">
                            </div>
                        </div>
                        <div class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Statistics and Probability</div>
                                <div class="kind">STA257/261</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/BenFranklinDuplessis.jpg/220px-BenFranklinDuplessis.jpg); opacity: .6;">
                            </div>
                        </div>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Introduction to Databases</div>
                                <div class="kind">CSC343</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://www.foodsmackdown.com/wp-content/uploads/2011/10/shake-shack-madison-square-park-new-york-shack-burger-610x407.jpg); opacity: .6;">
                            </div>
                        </a>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Principles of Programming Languages</div>
                                <div class="kind">CSC324</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://static.guim.co.uk/sys-images/Observer/Columnist/Columnists/2012/12/27/1356627544850/David-Ogilvy-in-Manhattan-010.jpg); opacity: .6;">
                            </div>
                        </a>
                        <div class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Enriched Data Structures and Analysis</div>
                                <div class="kind">CSC265</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://farm6.staticflickr.com/5510/11047966706_fef508d34d_n.jpg); opacity: .6;">
                            </div>
                        </div>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Algorithm Design, Analysis & Complexity</div>
                                <div class="kind">CSC373</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/1/13/Women_in_Waldorf-Astoria.jpg); opacity: .6;">
                            </div>
                        </a>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Software Tools & Systems Programming</div>
                                <div class="kind">CSC209</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/9/92/MacArthur_Manila.jpg); opacity: .6; background-position-y: -22px;">
                            </div>
                        </a>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Computer Organization</div>
                                <div class="kind">CSC258</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://upload.wikimedia.org/wikipedia/commons/9/92/MacArthur_Manila.jpg); opacity: .6; background-position-y: -22px;">
                            </div>
                        </a>
                    </div>


                    <div id="openingheader">
                    moocs
                    </div>
                    <div id="collections">
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">Introduction to Data Science</div>
                                <div class="kind">Coursera - University of Washington</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://farm8.staticflickr.com/7346/10072916916_80466a7706_n.jpg); opacity: .7;">
                            </div>
                        </a>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title">The Design of Computer Programs</div>
                                <div class="kind"> Udacity - Peter Norvig</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://sphotos-c.ak.fbcdn.net/hphotos-ak-prn1/601522_388442671227062_1072443545_n.jpg); opacity: .7;">
                            </div>
                        </a>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title"> Financial Markets </div>
                                <div class="kind">Coursera - Yale University</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://www.twirkethic.com/wp-content/uploads/2008/09/americanexpress.jpg); opacity: .3;">
                            </div>
                        </a>
                        <a href="#" class="collection-item" style="background-color:#000">
                            <div class="align-block">
                                <div class="collection-item-title"> Startup Engineering </div>
                                <div class="kind">Coursera - Stanford University</div>
                            </div>
                            <div class="block-fill" style="background-image:url(http://www.twirkethic.com/wp-content/uploads/2008/09/americanexpress.jpg); opacity: .3;">
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- container -->
        </div><!-- valign-cell -->
    </div><!-- valign-table -->